/* main {
  background-image: url(/images/bg.png), url(/images/light.png);
  background-position-y: -1100px, 0px;
  background-position-x: 0, 500px;
  background-repeat: no-repeat;
  background-size: 105%;
} */

main {
  background-image: url(/images/gd-bg.png);
  /* background-position-x: 500px; */
  background-position-y: -1100px;
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: 105%;
}

nav {
  background-color: transparent !important;
  transition: background-color 0.4s;
}

.navbar-scroll {
  background-color: rgba(0, 0, 0, 0.9) !important; /* 设置你需要的背景颜色 */
}

.header-section .header-text {
  /* background-image: url(/images/light.png);
  background-position-x: 300px; */

  /* background-size: 80%;
  background-repeat: no-repeat; */
}

/* .header-section:hover {
  background-image: url(/images/light.png), url(/images/light.png);
  background-position-x: 300px;

  background-size: 80%;
  background-repeat: no-repeat;
} */

.btn-flip {
  height: 100px;
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #323237;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.2s;
  position: relative;
  background: #adadaf;
  content: attr(data-front);
  transform: translateY(0);
  /* rotateX(0) */
}

.btn-flip:hover {
}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0);
  /* rotateX(0); */
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(-50%);
  /* rotateX(90deg); */
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.2s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(50%);
  /* rotateX(90deg); */
}

.glow-bg {
  transform-origin: center center;
  background-image: linear-gradient(to right top, #001aff, #9effff);
  width: 500px;
  height: 500px;
  filter: blur(100px);
  opacity: 0.7;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 20px;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  pointer-events: none;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.glow-bg {
  transform: skewY(-15deg) translate(-50%, -50%) scale(1) translateZ(0);
}

.jjlFsy:hover .glow-bg {
  filter: blur(140px);
  opacity: 0.9;
}

.video-wrapper {
  display: flex;
  /* width: 100%; */
  position: relative;
  justify-content: center;
  /* padding: 0px 20px; */
}

.video-wrapper video {
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 2;
  border-radius: 20px;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100vw;
  /* width: 700px; */

  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}

.logo-wrapper div {
  white-space: nowrap;
  animation: animate 40s linear infinite;
  animation-delay: -40s;
}

.logo-wrapper div:nth-child(2) {
  animation: animate2 40s linear infinite;
  animation-delay: -20s;
}

.logo-wrapper img {
  display: inline-block;
}

.logo-wrapper .max-w-none {
  margin-right: 50px;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* @keyframes scrollLeft {
  to {
    left: -200px;
  }
} */

.fwReyO {
  justify-content: flex-start;
  padding-bottom: 40px;
  gap: 60px;
}

.ciVYpW {
  display: flex;
  /* width: 48px;
  height: 36px; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  transition: background-color 250ms ease-in-out 0s;
}

.eGucya {
  display: flex;
  /* width: 48px;
  height: 36px; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  transition: background-color 250ms ease-in-out 0s;
}

.glow-bg-2 {
  transform-origin: center center;
  background-image: url("/images/Vector-gradient.png");
  /* width: 1500px;
  height: 1500px; */
  /* filter: blur(100px); */

  opacity: 0.7;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 99;
  pointer-events: none;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.css-typing p {
  margin-bottom: 7px;
  border: none;
  border-right: 0.15em solid #4090ff;
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 28em;
  -webkit-animation: type 5s steps(40, end);
  animation: type 5s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 28em;
  opacity: 0;
  -webkit-animation: type2 5s steps(40, end);
  animation: type2 5s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 3s steps(40, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #4090ff;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #4090ff;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #4090ff;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid #4090ff;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.gradient-text {
  font-weight: bold;
  background: linear-gradient(to right, #4090ff, #7be7ff, #7862ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border-right: 0.1em solid #4090ff; */
  display: inline-block;
  padding-right: 20px;
  /* animation: blink 1s step-end infinite; */
}

.blinking-cursor {
  font-weight: bold;
  color: #4090ff;
  animation: blink1 0.5s step-end infinite;
}

@keyframes blink1 {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #4090ff;
  }
}

.glow-bg-small {
  transform-origin: center center;
  background-image: linear-gradient(to right top, #001aff, #9effff);
  width: 150px;
  height: 150px;
  filter: blur(80px);
  opacity: 0.7;
  position: absolute;
  top: 90%;
  left: 15%;
  border-radius: 20px;
  transform: skewY(-15deg) translate(-50%, -50%) scale(0.7) translateZ(0);
  pointer-events: none;
  transition: filter 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.glow-bg {
  transform: skewY(-15deg) translate(-50%, -50%) scale(1) translateZ(0);
}
